/*====================
!!!!!!!!!BASE!!!!!!!!!
=====================*/

@-webkit-keyframes bg-pan-br {
    //webkit vélo
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@keyframes bg-pan-br {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@-webkit-keyframes bg-pan-right {
    //webkit bgc
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes bg-pan-right {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

html {
    font-family: $font-default;
    font-size: $font-size-base;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box
}

.container {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 $marge;
}

h1,
h2,
h3 {
    font-family: $font-title;
    font-weight: normal;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $link-color;
    transition: 0.3s; 
    &:hover,
    &:focus {
        color: darken($black, 20%);
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figure{
    margin: 0;
}

.no__text {
    display: none;
}

/*====================
!!!!!!!!!HEADER!!!!!!!
=====================*/

.header__container {
        
    min-height: 20vh;
    background: $black;
}

.header__firstnav.container{
    display: flex;
    padding: 0.5rem;
}

.header__firstnav--logo--link {
    margin: 0 auto;
}

.header__firstnav--link {
    width: 3em;
    height: auto;
}

.header__firstnav--nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    align-items: center;
}



.burger {
    position: absolute;
    top: 1rem;
    left:1rem;
    font-size: 0;
    .fa {
        font-size: 3rem;
        color: $yellow;
    }
}

.header__secondnav {
    display: none;
}

/*====================
!!!!!!!!!MAIN!!!!!!!!!
=====================*/
.visuel{
    display: flex;
    flex-direction: column;
    background: url(../images/bg_titre1.png);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-animation: bg-pan-br 8s both;
    animation: bg-pan-br 8s both;
    
    
}
.section1 {
    display: flex;
    flex-direction: column;
    background-color:$yellow;
    text-align: center;
    h1 {
        
        border-radius: 15px;
        font-size: 2em;
        align-self: flex-end;
        color: #fff;
        padding: 2em 4em;
        font-weight: bolder;
    }
    h2 {
        align-self: center;
        border-radius: 15px;
        font-size: 1.5em;
        font-weight: bold;
        color: $black;
        padding: 1em;
        
        margin-top: 3em;
    }
    a {
        display: inline-block;
        color:$black;
        background-color:#ffff;
        transition: 0.3s;
        font-size: 1.25rem;
        align-self: center;
        margin-bottom: -20px;
        &:hover{
            background-color: darken($yellow, 20%);
        }
    }
    .photo_contenu1{
        background-color: #fff;

    }
    .photo_liens{
        border-radius: 20px;
        padding: 10px;
        display:none;
    }
}

.section2 {
    background: url(../images/bg_guatemala.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    
    align-items: center;
    padding: 1px;
    text-align: center;

    h2, {
        font-size: 2em;
        color:#fff;
        border-bottom: 2px solid #fff;
    }

    p{
        color: #fff;
    }
    .photo_Guatemala{
        color: #fff;
        display: none;
        background: $black;
        border-radius: 15px;
        padding: 3px;

    }
}





.section3 {
    display: none;
    

}

.section4 {
    background-image: linear-gradient(270deg, $black, $yellow);
    background-size: 600% 100%;
    color: #fff;
    -webkit-animation: bg-pan-right 8s alternate infinite;
    animation: bg-pan-right 8s alternate infinite;
    text-align: center;
    padding-top: 40px;
    
    p {
        font-size: 1em;
        margin-bottom: 3em;
        color: #fff;
        box-shadow: #fff;
        font-weight: bold;
        &:before,
        &:after {
            content:'';
            border-bottom: 1px solid $black;
            display: inline-block;
            padding: 0 2em;
            margin: 0 1em;
        }
    }

}

.photo_entete{
    display: flex;
    flex-direction: column;
    align-items: center;
    figure{
        position: relative;
        figcaption{
            color: #fff;
            font-size: 1em;
            position: absolute;
            text-align: center;
            width: 100%;
            bottom:0;
            padding: 1rem;

        }
    }
}


.owl-carousel {
    
    padding: 80px 40px 60px;
    .section4__img {
        display: flex;
        flex-direction: column-reverse;
        
    }
    .owl-nav {
        button {
            position: absolute;
            top: 15px;
            &::before {
                content: '\f359';
                font-family: 'font Awesome 5 free';
                font-size: 3rem;
                color: $black;
            }
            &.owl-prev {
                left: 15px;
                font-size: 0;
            }
            &.owl-next {
                right: 15px;
                font-size: 0;
                &::before {
                    content: '\f35a';
                }
            }
        }
    }
}


/*====================
!!!!!!!!!FOOTER!!!!!!!!
=====================*/

footer {
    background-color: $black;
    color: #fff;
    padding: 30px;
    
    
    a {
        display: inline-block;
        padding: 0 1rem;
        font-size: 1.5rem;
        color: #ffff;
    }

    .footer__link{
        text-align: center;
    }
    .footer-col {
            padding: 30px;
            &:nth-of-type(2) {
            //pour avoir des traits en haut en bas
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            display: block;
            text-align: center;
        
        }
    }

    .footer__logo {
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
    img {
        margin-bottom: 2em;
        width: 8em;
    }

    }

    .footer__contact {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        color: #fff;
        
        

    }
    }







