// layout
$max-width:     1200px;
$bp-tablet:     768px;
$bp-desktop:    992px;
$marge:         15px;


// Typos
$font-default:   'Cabin', sans-serif;
$font-title:     'Cabin', sans-serif;
$font-size-base: 87.5%; // base 14px

// Couleurs
$yellow:  #F2EBD6;
$brown:   #4D4A4A;
$black:   #2B2B2B;
$light-red:  #FF0000;
$gray:       #918787;
$dark-gray:  #6F6F6F;
$light-gray: #e5e5e5;

$link-color: $black;    



